.mode_btn {
    font-size: inherit;
    color: inherit;
    border: none;
    outline: none;
    background-color: inherit;
}

.black {
    background: black !important;
}

.white {
    background: white !important;
}