.about_container{
  padding-top: 1rem;
}

.about_title {
  font-size: 70px;
  margin-bottom:2rem;
  text-align: center;
}

.about_content_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 50px 0px 50px 0;
}

.about_img_container {
  flex: 1;
  max-width: 400px;
}

.about_img {
  width: 320px;
  height: 320px;
  border-radius: 1.5rem;
  justify-content: center;
}

.about_content {
  flex: 1;
  text-align: justify;
}

/* .about_description_container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
} */

.about_description {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

.about_button_container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.about_button {
  width: 100%;
}


@media screen and (max-width: 1200px) {
  
  .about_title{
    text-align: center;
    font-size: 60px;
  }

  .about_content_container {
    
    margin-left: 30px;
  }
  .about_img_container {
   max-width: 300px;
  }

  .about_img{
    width: 250px;
    height: 250px;
  }



  
.about_description_container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.about_description {
  font-size: 1rem;
  margin-bottom: 1.2rem;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

.about_button_container {
  max-width: 250px;
}


}



@media screen and (max-width: 860px) {

  .about_container{
    padding-top: 0.5rem;
  }
  .about_title {
    font-size: 35px;
  }

  .about_content_container {
    flex-direction: column;
    margin: 0px;
  }

  
  .about_img_container {
    display: flex;
    justify-content: center;
  }
  

  .about_img {
    width: 60%;
    height: auto;
    border-radius: 1.5rem;
  }

  .about_description {
    font-size: 14px;
    margin-bottom: 1rem;
    line-height: 1.5;
  }

  .about_description_container{
    margin-bottom: 1.5rem;
  }
  
.about_button_container {
  max-width: 100%;
}

}


@media screen and (max-width: 650px) {

  .about_title {
    font-size: 32px;
  }
  
  .about_img {
    height: 200px;
    width: auto;
    border-radius: 1.2rem;
  }

  .about_description_container {
    max-width: 320px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .about_description {
    font-size: 12px;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  
.about_button_container {
  max-width: 320px;
}


}

/* 

@media screen and (max-width: 960px) {

  .about_title {
    font-size: 28px;
    text-align: center;
  }

  .about_content_container {
    flex-direction: column;
    margin: 0px;
  }

  
  .about_img_container {
    margin-right:0px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  
  .about_content {
    width: 100%;
    text-align: center;
  }

  .about_img {
    width: 60%;
    height: auto;
    border-radius: 1.5rem;
  }

  .about_description {
    font-size: 12px;
    margin-bottom: 1.1rem;
    line-height: 1.5;
  }
  
.about_button_container {
  max-width: 300px;
}

.about_button {
  font-size: 1rem;
}



} */



/* .about_title {
  font-size: 70px;
  margin-bottom: 2rem;
}

.about_content_container {
  display: grid;
  grid-template-columns: 350px auto;
  align-items: center;
  column-gap: 2rem;
}

.about_img_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about_img {
  width: 350px;
  height: 100%;
  max-width: 100%;
  justify-self: center;
  border-radius: 1.5rem;
}

.about_content {
  display: flex;
  flex-direction: column;
}

.about_description_container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.about_description {
  font-size: 1.15rem;
  margin-bottom: 1.2rem;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

.about_button_container {
  max-width: 500px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.about_button {
  width: 490px;
}
















 */















