
.home_container{
  padding-top: 8rem;
}

.home_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.space {
  margin-left: 25px;
}

.home_subtitle {
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.home_title,
.space,
.line_break {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_title {
  margin-bottom: -3rem;
  font-size: 7rem;
}


.social_icon {
  color: white;
  transition: all 0.25s ease-in-out;
}

.ln {
  position: absolute;
  top: 32%;
  right: 11.7%;
  font-size: 2.3rem;
}

.insta {
  position: absolute;
  top: 47%;
  right: 11.6%;
  font-size: 2.5rem;
}

.yt {
  position: absolute;
  top: 63%;
  right: 11.6%;
  font-size: 2rem;
}

.social_icon:hover {
  color: aqua;
  transform: scale(1.2, 1.2);
}

/* ========== Arrow ========== */

@media screen and (max-width: 1060px) {

  .ln {
    top: 60.4%;
    left: 60%;
  }
  
  .insta {
    top: 60.3%;
    left: 45%;
  }
  

}



@media screen and (max-width: 860px) {

.home_title{
  font-size: 5rem;
}


  .line_break {
    position: relative;
    top: 100px;
    left: -105px;
  }

  .home_subtitle {
    font-size: 2.5rem;
    margin-top: 9rem;
   
  }



  .ln {
    top: 80%;
    left: 34%;
    font-size: 1.9rem;
  }
  
  .insta {
    top: 80%;
    left: 20%;
    font-size: 2rem;
  }

} 

@media screen and (max-width: 650px) {

  .home {
    padding-top: 1rem;
  }

  .home_title {
    font-size: 4rem;
  }

  .line_break {
    top: 80px;
    left: -85px;
  }

  .home_subtitle {
    font-size: 1.6rem;
    margin-top: 9rem;
   
  }

  .ln {
    font-size: 2rem;
    left: 40%;
  }
  
  .insta {
    font-size: 2.2rem;
    left: 18%;
  }
  
  .button{
    font-size: .8rem;
    padding: 0.4rem 1.5rem;
  }
}


  @media screen and (max-width: 400px) {

    .home {
      padding-top: 1rem;
    }
  
    .home_container{
      padding-top: 6rem;
    }
    .home_title {
      font-size: 3.5rem;
    }
  
    .line_break {
      top: 80px;
      left: -72px;
    }
  
    .home_subtitle {
      font-size: 1.6rem;
      margin-top: 9rem;
     
    }
  
    .ln {
      font-size: 2rem;
      left: 30%;
      top: 70%;
    }
    
    .insta {
      font-size: 2.1rem;
      left: 10%;
      top: 70%;
    }
    
    .button{
      font-size: .8rem;
      padding: 0.4rem 1.5rem;
    }
}


@media screen and (max-width: 320px) {

 

  .home_container{
    padding-top: 6rem;
  }
  .home_title {
    font-size: 2.8rem;
  }

  .line_break {
    top: 60px;
    left: -58px;
  }

  .home_subtitle {
    font-size: 1.5rem;
    margin-top: 7.5rem;
   
  }

  .ln {
    left: 35%;
    top: 67%;
  }
  
  .insta {
    left: 12%;
    top: 67%;
  }
  
  
}


/* 
@media screen and (max-width: 960px) {

  .home {
    padding-top: 4rem;
    padding-left: 1.4rem;
  }

  .home_title {
    font-size: 4rem;
  }

  .line_break {
    position: relative;
    top: 80px;
    left: -85px;
  }

  .home_subtitle {
    font-size: 1.6rem;
    margin-top: 9rem;
   
  }

  .ln {
    top: 77%;
    left: 35%;
    font-size: 2.3rem;
  }
  
  .insta {
    top: 77%;
    left: 11.6%;
    font-size: 2.5rem;
  }
  



  

} */
































/*   
@keyframes rubberBand{

    from{
       transform: scale3d(1.2,0.5,1);
       
   }
   16%{
       transform: scale3d(1.2,0.5,1);
       
   }
   32%{
       transform: scale3d(0.8,1.1,1);
      
   }
   48%{
       transform: scale3d(0.95,1,1);
       
   }
   64%{
       transform: scale3d(0.8,1.2,1);
      
   }
   80%{
       transform: scale3d(1.15,1,1);
       
   } 
   80%{
       transform: scale3d(1.15,1,1);
 
   } 
   90%{
       transform: scale3d(0.8,1,1);
      
   }
   95%{
       transform: scale3d(1.05,1,1);
       
   }
   to{
       transform: scale3d(1,1,1);
      
   } 
} */