.contact{
    height: 80vh;
}

/* .contact_container{
    padding-top: 2rem;
} */

.contact_title{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 3rem;
}

.contact_form_div{
    position: relative;
    height: 4rem;
    margin-bottom: 2rem;
}

.form_input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border: 2px solid rgb(255, 255, 255,0.3);
    background: none;
    color: white;
    /* border-radius: 0.75rem; */
    padding: 1.5rem;
    z-index: 1;
    font-size: 1rem;
}

.form_label{
    position: absolute;
    top: -0.75rem;
    left: 1.25rem;
    font-size: 0.75rem;
    padding: 0.25rem;
    z-index: 10;
    background: black;
}

.textarea_div{
    height: 11rem;
}
.textarea_div textarea{
    resize: none;
}

.button_container{
    display: flex;
    justify-content: flex-end;
}

.contact_form_button{
    /* display: inline-flex; */
    align-items: center;  
}

.name_email_div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 3rem;
}





@media screen and (max-width: 960px) {


.contact_form_div{
    height: 3rem;
    margin-bottom: 1.8rem;
}

.textarea_div{
    height: 11rem;
}

.name_email_div{
    column-gap: 1rem;
}

.form_input{
    font-size: 0.8rem;
}

.contact_form_button{
    font-size: 0.8rem;
    width: 100%;
}

}


@media screen and (max-width:550px){
    .contact_container{
    margin-top: -1rem;
}
    .name_email_div{
        grid-template-columns: repeat(1,1fr);
    }

    .contact_title {
        font-size: 32px;
      }

      .textarea_div{
        height: 9rem;
    }
    
  }