.header {
    width: 100%;
    background-color: inherit;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
    /* border-bottom: 4px solid #9b51e0; */
}

.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}


.nav_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_item{
    padding-right: 30px;
}

.nav_link,.nav_logo{
    color: grey;
    font-size: 1.25rem;
    font-weight: 400;
    transition: 0.3s;
}

.nav_link:hover , .nav_logo:hover, .active_link{
    color: aqua;
}

.ibar{
    display: none;
}


@media screen and (max-width:600px){
   .nav_item{
    /* display: none; */
   }
/* 
   .nav_list{
    flex-direction: row;
   } */

   .ibar{
    display: block;
   }

}