* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* scroll-behavior: smooth; */
 
}

body {
  color: white;
  background-color: black;
  font: 'Inter var',Inter,-apple-system,'Helvetica Neue',Helvetica,Arial,sans-serif;;
}

/* ========== SECTION ========== */

.section {
  height: 88vh;
}

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width:1200px){
  .container{
    max-width: 900px;
  }
}

@media screen and (max-width:1060px){
  .container{
    max-width: 700px;
  }
}
@media screen and (max-width:860px){
  .container{
    max-width: 500px;
  }
}

@media screen and (max-width:650px){
  .container{
    max-width: 320px;
  }
}

@media screen and (max-width:350px){
  .container{
    max-width: 250px;
  }
}



/* ========== COLORS ========== */

.rainbow{
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb085, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb085, #fd1d1d, #833ab4);
  background-size: 100%;
  background-clip: border-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: bold;
}

/* ========== BUTTON ========== */

.button {
  font-size: 1.2rem;
  font-weight: 400;
  color: aqua;
  text-align: center;
  background-color: inherit;
  padding: 0.8rem 3rem;
  border: 1px solid aqua;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  z-index: 10;
}

.button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100.5%;
  background: aqua;
  transition: all 0.5s;
  z-index: -1;
}

.button:hover {
  color: black;
}

.button:hover:after {
  width: 100.3%;
}

/* ========== LINK ========== */

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

svg{
  z-index: 2;
  
}



/* 
@media screen and (max-width:1100px){
  .container{
    max-width: 900px;
  }
}

@media screen and (max-width:960px){
  .container{
    max-width: 700px;
  }
}
@media screen and (max-width:760px){
  .container{
    max-width: 500px;
  }
}

@media screen and (max-width:550px){
  .container{
    max-width: 320px;
  }
} */